html {
  font-size: clamp(1rem, calc(0.5rem + 0.8vw), 1.625rem);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
header{
  text-align: center;
  padding: 5vw 0vw 0vw 0vw ;
}
header nav ul li{
  margin: 20px 0 0 0
}
header nav ul li.font-yellow{
  color: #fbbc05;
}
header nav ul li.button-yellow a{
  background-color: #fbbc05;
  color: white;
  padding: 8px 16px 8px 16px;
  border-radius: 5px;
  display: inline-block;
}
.banner{
  background: url(../images/background-banner.png ) no-repeat;
  background-size:auto 100% auto;
  padding: 3vw 5vw 3vw 5vw;
  margin-top: 5vw;
}
.banner div.image{
  display: none ;
}
.banner div.image img{
  width: 20vw;
}
.banner h2{
  font-size: 2rem;
}
.banner p{
  color: rgb(68, 68, 68);
  font-size: 0.9rem;
  margin: 20px 0 0 0;
}
.banner p a{
  background: rgb(49, 49, 49);
  display: flex;
  align-items: center;
  padding: 8px 18px 8px 18px;
  gap: 8px;
  border-radius: 2vw;
  color: white;
}
.banner p.buttons{
  display: flex;
  gap: 10px;
  
}
.ride div.image{
  display: none;
}
.ride {
  text-align: center;
  padding: 3vw 5vw 3vw 5vw;
}
.ride h2{
  font-size: 2rem;
  font-weight: 700;
  padding: 10px 0 10px 0;
}
.ride div.lixta ul li{
  margin: 20px 0 20px 0;
}
.ride div.lixta ul li h3{
  font-size: 1.1rem;
  font-weight: 700;
}
.download{
  background-color: #fbbc05;
  margin: 3vw 5vw 3vw 5vw;
  border-radius: 10px;
  color: white;
  padding: 10px 10px 10px 10px;
}
.download h2{
  font-size: 1.7rem;
  font-weight: 700;
  padding: 0 0 20px 0;
}



@media only screen and (min-width: 600px) {
  header nav{
    display: flex;
    justify-content: space-between;
  }
  header nav ul{
    display: flex;
    align-items: center;
    gap: 40px;
  }
  header{
    padding: 2vw 5vw 2vw 5vw;
  }
  .banner div.image{
    display: block;
    text-align: right;
  }
  .banner img{
    
    width: 50%;
  }
  .ride div.image{
    display: block;
  }
  .ride>p{
    padding: 0 20% 0 20%;

  }
  .ride > div {
    display: flex;
    justify-content: center;
    gap: 40px;
  }
  .ride div.lixta ul{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    width: 40vw;
  }
  .download{
    padding: 3vw 3vw 3vw 3vw;
  }
  .download p{
    width: 20%;
  }
}

